
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url('./test.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: drop-shadow(16px 16px 20px red) invert(75%);
    font-family: 'Fugaz One', cursive;
    
    
    
   

    margin: 0;
   

}






.wrapper{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-columns: 1fr ;
    grid-template-columns: 1fr;
   
    
    grid-template-columns: repeat(auto-fit, minmax(200px, fr1 fr1 fr1 fr1));
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer" ;
    overflow: hidden;
    

    
}


.header{
    display: flex;
    grid-area: header;
    width: 100%;

   background: linear-gradient(to bottom, rgba(0,0,0,.9),transparent);
    background-color: rgb(70, 65, 65);
    
    flex-direction: column;
    text-align: center;
    
    justify-content: center;
    align-self: center;
   
    
}

.main-text  {
    font-family: 'Rock Salt', cursive;
    color: rgb(238, 229, 229);
    padding: 0;
    box-shadow:  0 0 0 rgba(128, 119, 119, 0.2);
    margin: 0;
    font-size: 3rem;
    font-weight: 100;
    margin:0;
    letter-spacing: 1px;

    



}

.card-text{
    font-size: 1rem;
    width: 10rem;

}

 .text{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-size: 1rem;

    margin: 1rem;
    
}
.main{
    display: flex;
    grid-area: main;
    width: 100%;

    /*background-color: rgb(40, 34, 35);*/
    background-position: center;
    flex-direction: column;
   /* position: relative;*/
    justify-content: center;
    
    
    


}
.card{
    display: flex;
    grid-template: "header" "main" auto / 1fr;
    box-shadow: 0 0 1em rgba(0,0,0,.5);
    padding: 1.5em;
    margin: 3rem;
     width: 15rem;

     transition-duration: 1000ms;
     transition-property: background transform;
     transition-timing-function: ease;
     
     background-color: white;
     align-content: space-between;
     flex-direction: row;
     justify-content: center;
    align-self: center;
    /*position: relative;*/
    grid-template-columns: repeat(auto-fit, minmax(200px,fr1  fr1));
    
   
}
.card:hover{
    background: darkgrey;
    transform: rotate(45deg);
}



.card1{
    display: flex;
    
    box-shadow: 0 0 1em rgba(0,0,0,.5);
    padding: 1.5em;
    flex-direction: column;
    flex-wrap: wrap;
    
   
     width: 15rem;

     margin: 0;
     
     justify-content: center;
    align-self: center;
    
    background-image: url("./street.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    
    
}
/*
.link:hover{
   
    font-family: 'Chewy', cursive;
  font-size: larger;
}
*/
.link {
    cursor: pointer;
   margin: 1rem;
   text-decoration: none;
   color:rgb(0, 0, 0);
   transition: 0.2s;
   display: inline-block;
   overflow: hidden;
   font-size: 1rem;
   margin: auto;
   padding: 1px;
   
   
  


    
}
.link:hover{
    background: #2196f3;
    color:#255784;
    box-shadow: 0 0 1rem #2196f3, 0 0 2rem #2196f3, 0 0 1rem, 0 0 3rem #2196f3;
   



}







.footer{
    display: flex;
    grid-area: footer;
    flex-direction: column;
    width: 100%;
    /*position: relative;*/

   background-color: rgb(65, 64, 54);
   text-align: center;
   justify-content: center;
   align-self: center;
   opacity:0.3 ;
   margin: 1rem;

}
.footer:hover{
    opacity: 1.0;
}
nav{
    
    flex-direction: column;
    position: fixed;
    right: 0;
    background-color: rgba(169,184,191);

    width: 80vw;
    z-index: 2;
    transition: right 0.25 ease-out;
}

 .header label{
    
    display: flex;
    
  
    cursor: pointer;
     
color: antiquewhite;
padding: 0;
flex-direction: row-reverse;
margin: 1rem;
align-self: baseline;
font-size: 2rem;



    
    
    

   
    
   
}
.menu-hidden{
    right: -100vw;
}
.hidden{
    pointer-events: none;
    visibility: hidden;
}
.fade-layer{
    position: fixed;

    width: 100vw;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
}
nav a{
    text-decoration: none;
    color:rgba(155,117,53);
}
nav a:hover{
    background-color: rgba(129,117,117);
}
.blogg{
    font-family: 'Fugaz One', cursive;
    margin: 1rem;
}
.form{
    margin: 1rem;
    box-shadow: 0 0 3em rgba(128, 119, 119, 0.2);
}
.input{
    border: 0.1em solid black;
    display: flex;
}
/*page2*/
.main-page2-text{
    background-color: white;
    box-shadow: 0 0 1em rgba(0,0,0,.5);
}
.mark2{
    font-family: 'Fugaz One', cursive;

     font-size: x-large;
    color: rgb(21, 19, 19);
}
.mark3{
    color: rgb(0, 0, 0);
    font-size: x-large;
    margin: 1rem;
    font-weight: 100;
    font-family: 'Fugaz One', cursive;
    

    
   
    
}
.link1{
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    color:rgb(244, 244, 244);
    transition: 0.2s;
    display: inline-block;
    overflow: hidden;
    font-size: 1rem;
 
}
.link1:hover{
    background: #2196f3;
    color:#255784;
    box-shadow: 0 0 1rem #2196f3, 0 0 2rem #2196f3, 0 0 1rem, 0 0 3rem #2196f3;
   
}
.test{
    font-family: 'Fugaz One', cursive;

    color: rgb(0, 0, 0);
    font-size: 25px;
}

.mark1{
   
  width: 100%;
    margin: 1rem;

}


.card-text1{
  
    margin: 1rem;
}
.youtube{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
   
    
}
.move{
 
    margin: 1rem;
}
.move1{
    
    margin: 1rem;
}
.crap{
    margin: auto;
    color: white;
}







     

 /* Smartphone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480){
    body {
        grid-template-areas: "header" "main" "footer" ;
    }
    .wrapper{
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
    .main-text{
        grid-template-columns: 1fr;
    }
    .mark1{
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
    .youtube {
        display: flex;
        flex-wrap: wrap;
    }
    
    
  }
  /* desktop*/
  @media only screen and (min-device-width: 1224px) {
    body {
        grid-template-areas: "header" "main" "footer" ;
    }
    .wrapper{
        grid-template-areas:  "header" "main" "footer";
    }
    .mark1{
        grid-template-areas: "main" 'header' 'footer';
    }
    .main-text{
        grid-template-columns: 1fr;
    }
    
    
  }



/*
  .showcase{
    background-image: url('../nyhetssidan/street.jpeg');

   /* background-size: cover;
    background-position: center;

}








